main {
  max-width: 1200px;
  margin: 0 auto;
}

.q-page-container {
  background-color: #f5f5f5 !important;
}

.cards {
  gap: 25px;

  & > div {
    max-width: 31%;
    width: 100%;
    min-width: 220px;
  }
}

// basics
a {
  color: $primary;
}

// helpers
.w-100 {
  width: 100%;
}

.text-dec-none {
  text-decoration: none;
}

.gap-20 {
  gap: 20px;
}

.link {
  color: $primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
