@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

main {
  max-width: 1200px;
  margin: 0 auto;
}

.q-page-container {
  background-color: #f5f5f5 !important;
}

.cards {
  gap: 25px;

  & > div {
    max-width: 31%;
    width: 100%;
    min-width: 174px;
  }
}

.q-page {
  padding: 20px;

  @media (min-width: 500px) {
    padding: 48px;
  }
}

// basics
h1,
h2,
h3,
h4,
h5 {
  font-family: "Dancing Script", cursive;
  font-weight: 700 !important;
}

a {
  color: $primary;
}

// helpers
.w-100 {
  width: 100%;
}

.fw-500 {
  font-weight: 500;
}

.text-dec-none {
  text-decoration: none;
}

.gap-20 {
  gap: 20px;
}

.gap-10 {
  gap: 10px;
}

.link {
  color: $primary;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.clear {
  clear: both;
}

.fs-custom {
  font-family: "Dancing Script", cursive;
  font-weight: 700 !important;
}
